@using TPR2.Models

@model  List<CategoriaDoProduto>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

<div class="container">

    <table>
        <tr>
            <td>ID</td>
            <td>NOME</td>
            <td>DESCRICAO</td>
        </tr>

        @foreach (var categoria in Model)
        {
            <tr>
                @if (categoria.Id != 0)
                {
                    <td>@categoria.Id</td>
                }
                else
                {
                    <td>ADICIONADO!</td>
                }
                <td>@categoria.Nome</td>
                <td>@categoria.Descricao</td>
            </tr>
        }

    </table>

    <button class="waves-effect waves-teal btn-flat">@Html.ActionLink("VOLTAR", "Index", "Home")</button>
    <button class="waves-effect waves-teal btn-flat">@Html.ActionLink("NOVA CATEGORIA", "Novo", "CategoriaDoProduto")</button>

</div>

